[flake8]
max-line-length = 320
max-complexity = 50
ignore =
  E124
  E203
  W503
exclude =
    .eggs
    .git
    __pycache__
    build
    dist
    venv
    lookup-tables
    rubikscubelookuptables/builder555ss.py
    rubikscubelookuptables/builder555ss.py.gz
    rubikscubelookuptables/builder777ss.py
