[flake8]
max-line-length = 320
max-complexity = 50
ignore =
  E203
  W503      # line break before binary operator; conflicts with black
exclude =
    .eggs
    .git
    __pycache__
    build
    dist
    venv
    lookup-tables
    rubikscubelookuptables/builder555ss.py
    rubikscubelookuptables/builder555ss.py.gz
